
/*configurações de estilização do perfil do usuário do dashboard*/
.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  box-sizing : border-box;
}

.information-user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vh;
  height: 70vh;
  padding-bottom: 2vh;
  border-radius: 1rem;
  background: var(--Light-red);
  z-index:2;
  
}

.image-usuario-container {
  padding: 3vh 0 3vh 2vh;
}

.image-usuario-container img {
  width : 35vh;
  border-radius: 50%;
  border: 3px solid #fff;
}

.name-user .relatar-usuario {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 400 3vh var(--font-main);
  padding: 0 auto 2vh auto;
  color: rgb(184, 183, 183);
}

.name-user .title-first {
  font: normal 300 7vh var(--font-main);
  text-align: center;
  padding-left  : 2vh;
  letter-spacing: .03em;
}


.rastreamento {
  display       : flex;
  padding: 3vh;
  align-items   : end;
  bottom        : 15px;
  width         : 100%;
  height        : 40%;
  border-radius : 0 0 1rem 1rem;
  background    : var(--Dark-blue);
  position      : relative;
  z-index       : 1;
}

.rastreamento ul {
  margin-left: 2vh;
}

.rastreamento li {
  margin-top: 15px;
  font-size : 18px;
  cursor    : pointer;
  color     : var(--Desaturated-blue);
  transition: .5s ease all;
}

.rastreamento li:hover {
  color: #fff;
}

.rastreamento ul li.active {
  color: #fff;
}




/*itens da caixa grid */

.itens-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 2vh;
    box-sizing : border-box;
    margin: 5vh;
  }
  
  .item-card {
    height: 100%;
    border-radius: 1rem;
    box-sizing: border-box;
  }
  
  .sobrepor {
    width: 100%;
    height: 10vh;
    border-radius: 1rem 1rem 0 0;
    position: relative;
  }
  
  .informacoes {
     width: 100%;
    height: 30vh;
    background: var(--Dark-blue);
    border-radius: 1rem;
    position : relative;
    bottom: 1rem;
    transition: .5s ease all;
  }
  
  .informacoes::before {
     position : absolute;
     width: 4vh;
     height: 4vh;
     right : 4vh;
     top: 4vh;
     background: url("../img/icon-ellipsis.svg") no-repeat no-repeat;
     content: "";
     cursor: pointer;
  }
  
  
  .informacoes:hover {
    background: var(--Desaturated-blue);
    cursor: pointer;
  }
  
  .informacoes p {
    grid-area    : p;
    padding:2vh 2vh;
    margin-bottom: 2vh;
    font-size : 18px;
  }
  
  .informacoes h2 {
    grid-area    : h2;
    padding-left : 20px;
    margin-bottom: 8px;
    font-size    : 64px;
    font-weight  : 300;
  }
  
  .informacoes span {
    grid-area   : span;
    padding-left: 20px;
    font-size   : 16px;
    color       : rgb(184, 183, 183);
  }

  /* Sobreposição de nos cards com css grid, com acréscimo de icons na borda */
  .trabalho .sobrepor{
    background-image: url("../img/icon-work.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Light-red);
  }
  
  .jogos-games .sobrepor {
    background-image: url("../img/icon-play.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Soft-blue);
  }
  
  .estudos .sobrepor {
    background-image: url("../img/icon-study.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Light-red);
  }
  
  .esportes .sobrepor {
    background-image: url("../img/icon-exercise.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Lime-green);
  }
  
  .redes-sociais .sobrepor {
    background-image : url("../img/icon-social.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-color: var(--Violet);
  }
  
  .cuidados-pessoais .sobrepor {
    background-image : url("../img/icon-self-care.svg");
    background-position:right;
    background-repeat: no-repeat;
    background-color : var(--Soft-orange);
  }

  @media(max-width: 900px) {
    .perfil {
      margin: 15px;
    }
  
    .user-information {
      width: 100%;
      display: flex;
      align-items: center;
      height: 60vh;
      
    }
  
    .rastreamento {
      height: 1vh;
    }
  
    .rastreamento>div {
      margin: 0 auto;
      margin-bottom: 2vh;
    }
  
    .rastreamento ul {
      display: flex;
      gap : 2vh;
    }


  @media(max-width: 900px){
    .grid-items-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
      margin  : 15px;
    }
  
    .informacoes {
      display: grid;
      grid-template:
        "p p"
        "h2 span";
      align-items: center;
    }
  
    .informacoes p,
    .informacoes span {
      font-size: 4vh;
    }
  }

  }

  @media(max-width: 1140px) {
    .grid-items-container {
      grid-template-columns: repeat(3, 45vh);
    }
  }
  
  
  @media(max-width:500px) {
    .box{
      display: flex;
      flex-direction: column;
    }
    .informacoes {
      grid-template:
        "p p"
        "h2 h2"
        "span span";
    }
  
    .informacoes span {
      font-size: 4vh;
      padding-bottom: 1vh;
    }
  }